
#shimmer-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.shimmer-card{
    text-align: center;
    width: 10vw;
    height: 40vh;
     margin: 10%;
    padding: 5px;
    border: 12px red solid;
    border-radius: 52px;
    background-color: antiquewhite;
}
