#header-container{
    border: 4px orange solid;
    border-radius: 12px;
}

.nav-item{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    cursor: pointer;
    font-size: 1rem;
    padding: 10px;
    margin: 10px;
}
.nav-item:hover{
    border-radius: 12px;
    background-color: lightcoral;
    
}

#logo{
    border: 5px red dashed;
}
#restaurant-cards{
    display: flex;
    flex-wrap: wrap;
}

#restaurant-item{
    width: 15vw;
    height: 40vh;
    margin: 10%;
    padding: 45px;
    background-color: antiquewhite;
    border: 12px red solid;
    border-radius: 52px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


#restaurant-item:hover{
     background-color: coral;
  box-shadow: 10px 10px;
    cursor: pointer;
}

#body-container{
    height: 75vh;
    width: 95vw;
    
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

#btn-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 12px;
    margin-bottom: 12px;
}

#button-toprated{
    background-color: orange;
    color:black;
    cursor: pointer;
}
#button-toprated:hover{
    border-right: 2px red solid;
    border-bottom: 2px red solid;
    color:white;
    background-color: red;
}